# Archivos y directorios generados por Go
/bin/
/pkg/
/*.exe
/*.exe~
/*.dll
/*.so
/*.dylib
/*.test
*.out

# Archivos de entorno
.env

# Archivos de configuración de IDEs y editores
.vscode/
.idea/
*.swp
*.swo

# Archivos de logs
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de dependencias
node_modules/